body{
    margin: 0%;
}

.color-orange{
    color: orange;
}

.stay-focused{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
    border-width: 3px;
    padding-left: 10px;
}

.focused-font{
    font-family: 'Aclonica', sans-serif;
    font-size: 40px;
}

.half-width{
    width: 50%;
}


.half-width img{
    width: 70%;
    padding-left: 50px;
}

.flexible-container{
    display: flex;
}

.top-margin{
    margin-left: 10%;
    margin-top: 8%;
}

.margin2{
    margin-left: 10%;
}

.top-paragraph{
    padding-right: 75px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.explore-button{
    text-decoration: none;
    background-color: rgb(243, 81, 81);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

section{
    padding-bottom: 35px;
}

.my-mission{
    font-family: 'Mulish', sans-serif;
    text-align: center;
    font-size: 50px;
}

.color-blue{
    color: rgb(17, 17, 78);
}

.missions{
    width: 26%;
    margin-left: 10%;
    background-color: rgb(229, 243, 248);
    border-radius: 10px;
    padding: 20px;
}

.visions{
    width: 26%;
    margin-left: 1%;
    background-color: rgb(250, 240, 242);
    border-radius: 10px;
    padding: 20px;
}

.goals{
    width: 26%;
    margin-left: 1%;
    margin-right: 10%;
    background-color: rgb(248, 248, 238);
    border-radius: 10px;
    padding: 20px;
}

.missions img{
    width: 40%;
}

.visions img{
    width: 40%;
}

.goals img{
    width: 40%;
}

.paraghaphs{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

h2{
    font-family: 'Mulish', sans-serif;
}

.color-black{
    color: black;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.width2{
    width: 30%;
}

.width2 img{
    width: 100%;
    padding-top: 35px;
}

.width3{
    width: 60%;
}

.margin3{
    margin-top: 6%;
    margin-left: 5%;
}

.paragraph2{
    margin-right: 18%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.margin4{
    margin-right: 65%;
}

.documentation-button{
    text-decoration: none;
    background-color: rgb(243, 81, 81);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.development-area{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-y: center;
    background-position-x: 50px;

}

.margin5{
    margin-top: 6%;
    margin-left: 10%;
}

.margin6{
    margin-right: 55%;
}

.margin7{
    margin-right: 10%;
    margin-bottom: 4%;
}

.community-area{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 12%;
    background-position-y: 300px;
    background-position-x: 1170px;
}

.margin8{
    margin-right: 45%;
}

.margin9{
    margin-top: 6%;
}

.half-width2{
    width: 50%;
}

.half-width2 img{
    width: 45%;
    margin-left: 18%;
}

.app-area1{
    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 10%;
    background-position-y: 65px;
    background-position-x: 220px;
}

.app-area2{
    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 10%;
    background-position-y: 435px;
    background-position-x: 110px;
}

.app-area3{
    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5%;
    background-position-y: 335px;
    background-position-x: 470px;
}

.color-red{
    color: rgb(250, 83, 83);
}

footer{
    background-color: black;
    border:solid;
    height:20vh;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer h1{
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
    font-weight: 700;
}

footer p{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}