
.color-orange{
    color: orange;
}

.stay-focused{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
    border-width: 3px;
    padding-left: 10px;
}

.focused-font{
    font-family: 'Aclonica', sans-serif;
    font-size: 40px;
}

.half-width{
    width: 50%;
}


.half-width img{
    width: 70%;
    padding-left: 50px;
}

.flexible-container{
    display: flex;
}

.top-margin{
    margin-left: 10%;
    margin-top: 8%;
}

.top-paragraph{
    padding-right: 75px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.explore-button{
    text-decoration: none;
    background-color: rgb(243, 81, 81);
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: bolder;
}

section{
    padding-bottom: 35px;
}

.my-mission{
    font-family: 'Mulish', sans-serif;
    text-align: center;
    font-size: 50px;
}

.color-blue{
    color: rgb(17, 17, 78);
}

.missions{
    width: 26%;
    margin-left: 10%;
    background-color: rgb(199, 219, 228);
    border-radius: 10px;
    padding: 20px;
}

.visions{
    width: 26%;
    margin-left: 1%;
    background-color: rgb(235, 205, 210);
    border-radius: 10px;
    padding: 20px;
}

.goals{
    width: 26%;
    margin-left: 1%;
    margin-right: 10%;
    background-color: rgb(236, 234, 199);
    border-radius: 10px;
    padding: 20px;
}

.missions img{
    width: 40%;
}

.visions img{
    width: 40%;
}

.goals img{
    width: 40%;
}

.paraghaphs{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

h2{
    font-family: 'Mulish', sans-serif;
}
